
.header {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    background: white;
    height: 60px;
}

.header__logo {
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    display: flex;
    align-items: center;
}

.header__menu-item {
    margin-left: 20px;
    margin-right: 20px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-left: 20px;
    margin-right: 20px;
}

.main-banner {
    height: 750px;
    background-image: url(./images/banner.jpg);
    background-size: cover;

}